{% extends "base.html" %}

{% block title %}Diagnostics List{% endblock %}

{% block content %}
<div class="container mt-6 card">
    <h2 class="text-center mb-4">Diagnostics List</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}

    <!-- Diagnostics Table -->
    <table id="diagnosticsTable" class="table table-dark" data-filter-control="true" data-show-columns="true" data-search="true">
        <thead>
            <tr>
                <th>Date</th>
                <th>Patient</th>
                <th>Analysis</th>
                <th>Prediction</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Doctor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for diagnostic in diagnostics %}
            <tr>
                <td>{{ diagnostic.created_at }}</td>
		{% set patient = patients | selectattr("id", "equalto", diagnostic.patient_id) | first %}
                <td>{{ patient.name }}</td>
                <td><a href="{{ url_for('show_diagnostic', diagnostic_id=diagnostic.id) }}" class="btn btn-info btn-sm">View Result</a></td>
                <td>{{ diagnostic.prediction }}%</td>
                <td>{{ diagnostic.reviewed_comment }}</td>
                <td>
                    {% if diagnostic.review_status  %}
                        <span class="badge badge-success">Reviewed</span>
                    {% else %}
                        <span class="badge badge-warning">Not Reviewed</span>
                    {% endif %}
                </td>
		{% set doctor = doctors | selectattr("id", "equalto", diagnostic.doctor_id) | first %}
                <td>{{ doctor.fullname }}</td>
                <td>
                <form action="{{ url_for('delete_diagnostic', id=diagnostic.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this diagnostic?');"><i class="fas fa-trash-alt"></i></button>
                </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Add New Diagnostic Button -->
    <div class="text-center mt-4">
        <a href="{{ url_for('create_diagnostic') }}" class="btn btn-success btn-lg">Add New Diagnostic</a>
    </div>
</div>
    <script>
        $(document).ready(function() {
            $('#diagnosticsTable').bootstrapTable();
        });
    </script>
{% endblock %}

